.App {
  text-align: center;
  height: 100vh;
  background-color:'transparent';


}

.HeadImg{
  height:100vh;
  

}
#pinContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: white url('./assets/Head.png') no-repeat fixed center 100%;
  background-size: 100vmin ;
}
#pinContainer .panel {
  height: 100vh;
  width: 100vw;
  position: absolute;
  text-align: center;
}
.panel span {
  position: relative;
  display: block;
  top: 50%;
  font-size: 80px;
  
}

.panel.blue {
  background-color:transparent;

}

.panel.turqoise {
  background-color: transparent;
}

.panel.green {
  background-color: transparent;
}

.panel.bordeaux {
  background-color: transparent;
}

