.App {
  text-align: center;
  min-height: 100vh;
  background-color:'transparent';
}


.panel {
  height: 100vh;
  width: 100vw;
  text-align: center;
  
}

.panel span {
  position:relative;
  overflow: visible;
  top: 30%;
  
}

.panel.blue {
  background-color: transparent;
  font-size: 80px;
  background: white url('./assets/Head.png') no-repeat fixed center 100%;
  background-size: 100vmin ;
}

.panel.turqoise {
  background-color: transparent;
  font-size: 50px;
  line-height: 1.5em;
  background: white url('./assets/Head.png') no-repeat fixed center 100%;
  background-size: 100vmin ;

}

.panel.green {
  background-color: transparent;

}

.panel.bordeaux {
  background-color: transparent;

}
