.App {
  text-align: center;
  background: white url('./assets/Head.png') no-repeat fixed bottom center;
  background-size: 100vmin ;
  display:flex;
  flex-direction: column;
  min-height: 100vh;

}
.section {
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Win {
  width: 100%;
  height: 100%;
  position: absolute;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
